<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Frst Contrib">
    <meta property="og:description" content="Find issues to contribute to.">
    <meta property="og:url" content="https://firstcontrib.herokuapp.com/">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>First Contrib</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link href="/scss/styles.css" rel="stylesheet" type="text/css">
    <style>

        p{
            display: block;
        }

        #all-issue{
            margin-top: 2rem;
            line-height: 1rem;
        }
        .search{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            margin-bottom: 40px;
        }
        #timesearch{
            padding: 0.6rem;
            appearance: none;
            border-radius: 0.3rem;
            border-color: blueviolet;
            color: blueviolet;
            width:150px;
        }

        #submitbutton{
            padding: 0.6rem;
            border-radius: 0.3rem;
            color:white;
            background-color: blueviolet;
        }
        .inputfield{
            color: blueviolet;
        }
        .textbanner{
            color: blueviolet;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
        .github-issue{ 
            text-align:justify;
            border-style: solid;
            border-radius: 1em;
            color: blueviolet;
            margin-top: 1.5rem;
            border-color: blueviolet;
        }
        .github-issue-first-friendly{
            text-align:justify;
            border-style: solid;
            color: green;
            border-radius: 1em;
            margin-top: 1.5rem;
            border-color: green;
        }
        .issue-title a{
            margin: 1rem;
            text-decoration: none;
            color: inherit;
        }
        .issue-desc{
            margin: 1rem;
            color: black;
        }
        .markdownSlider{
            overflow-x: auto;
            display: block;
            background-color: #e8e8e6;
            border-radius: 0.3rem;
        }


        .textlabelsearch{
            display:inline;
            font-size: 0.8rem;
            color: rgb(182, 49, 26);
        }
        .error {
            padding: 20px;
            background-color: blueviolet; /* Red */
            color: white;
            margin-bottom: 15px;
            border-radius: 0.3em;
        }
        #greentext{
            color: green;
        }
    </style>
    <script>
        function script(){
            let x = document.getElementById('timeDropdown');
            x.value = `<%= userInput["time"] %>`;
            x = document.getElementById('userText');
            x.value = `<%= userInput["username"] %>`;
            var images = document.getElementsByTagName("img");
            var i;
            for(i = 0; i < images.length; i++) {
                images[i].className += "pure-img";
            }
            code_html = document.getElementsByTagName("pre");
            for(i = 0; i < code_html.length; i++) {
                var mydiv = document.createElement("div");
                mydiv.className = "markdownSlider";
                new_html = "<pre>" + code_html[i].innerHTML + "</pre>";
                mydiv.innerHTML = new_html;
                if(!['p','li'].includes(code_html[i].parentNode.tagName.toLowerCase())){
                    code_html[i].parentNode.replaceChild(mydiv, code_html[i]);
                }
                
            }
        }
    </script>
</head>
<body onload="script();">
    <!-- <div class="pure-g search"> -->
        <!-- <div class="pure-u-1-3"></div> -->
        <!-- <div class="pure-u-1-3"> -->
    <div class="upper-div">
        <a class="github-button" href="https://github.com/krishnanunnir/opensource-first-contrib-search/issues" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" data-show-count="true" aria-label="Issue krishnanunnir/opensource-first-contrib-search on GitHub">Issue</a>
        <a class="github-button" href="https://github.com/krishnanunnir/opensource-first-contrib-search" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" data-show-count="true" aria-label="Star krishnanunnir/opensource-first-contrib-search on GitHub">Star</a>
        <a class="github-button" href="https://github.com/krishnanunnir/opensource-first-contrib-search/fork" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" data-show-count="true" aria-label="Fork krishnanunnir/opensource-first-contrib-search on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/krishnanunnir" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" data-show-count="true" aria-label="Follow @krishnanunnir on GitHub">Follow @krishnanunnir</a>
    </div>
        <!-- <div class="pure-u-1-3"></div> -->
    <!-- </div> -->
        
    <div class="mid-div">

        <div class="pure-g search textbanner">
            <!-- <div class="pure-u-1-4"></div> -->
            <div class="pure-u-1-2">Search for issues to contribute to. Use your github username.<span id="greentext"> Beginner friendly issues marked in green.</span></div>
            <!-- <div class="pure-u-1-4"></div> -->
        </div>
        <div class="pure-g">
            <!-- <div class="pure-u-1-3"></div> -->
            <div class="pure-u-1-2 form-container">
                <form action="/instance" method="get" class="pure-form">
                    <input type="text" name="username" class="inputfield" id="userText" placeholder="Enter your github username" >
                    <select name="time" class="inputfield" id="timeDropdown">
                        <option value="1" >Past day</option>
                        <option value="7">Past Week</option>
                        <option value="30">Past Month</option>
                        <option value="365">Past Year</option>
                    </select>
                    <button type="submit" id="submitbutton">Go!</button>
                </form>
                <br/>
            </div>
            <!-- <div class="pure-u-1-3"></div> -->
        </div>
        <% if(error){ %>
            <div id="error">
                <div class="pure-g">
                    <!-- <div class="pure-u-1-4"></div> -->
                    <div class="pure-u-1-2 error">
                        <%= error %>
                    </div>
                    <!-- <div class="pure-u-1-4"></div> -->
                </div>        
            </div>
        <% } %>
        <div id="all-issue">
                <% issues.forEach(function(issue) { %>
                    <div class="pure-g">
                        <!-- <div class="pure-u-1-4"></div> -->
                        <% if(!issue["beginnerfriendly"]){%>
                            <div class="pure-u-1-2 github-issue">
                        <% }else{ %>
                            <div class="pure-u-1-2 github-issue-first-friendly">
                        <% } %>
                            <div class="issue-title">
                            <h5><a href="<%= issue.url %>"><%= issue.repository %>: <%= issue.title %></a></h5>
                            </div>
                            <div class="issue-desc">
                                <%- issue.description %>
                            </div>
                        </div>
                        <!-- <div class="pure-u-1-4"></div> -->
                    </div>
                <% }); %>
        </div>


    </div>

</body>
</html>