<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Frst Contrib">
    <meta property="og:description" content="Find issues to contribute to.">
    <meta property="og:url" content="https://firstcontrib.herokuapp.com/">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>First Contrib</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <style>
        p {
            display: block;
        }

        #all-issue {
            margin-top: 2rem;
            line-height: 1rem;
        }

        #timesearch {
            padding: 0.6rem;
            appearance: none;
            border-radius: 0.3rem;
            border-color: blueviolet;
            color: blueviolet;
            width: 150px;
        }

        .issue-title a {
            margin: 1rem;
            text-decoration: none;
        }

        .issue-desc {
            margin: 1rem;
            color: grey;
        }

        .markdownSlider {
            overflow-x: auto;
            display: block;
            background-color: #e8e8e6;
            border-radius: 0.3rem;
        }


        .textlabelsearch {
            display: inline;
            font-size: 0.8rem;
            color: rgb(182, 49, 26);
        }

        .error {
            padding: 20px;
            background-color: blueviolet;
            /* Red */
            color: white;
            margin-bottom: 15px;
            border-radius: 0.3em;
        }

        #greentext {
            color: green;
        }
        .issue{
            margin-top: 1em;
            word-wrap: break-word;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 40%), 0 0 0 1px rgb(10 10 10 / 5%) !important;
            
        }
        .discord{
            background-color: #7289DA !important;
            color: white;
        }
        .textbanner{
            margin-top: 5em;
        }
        #textLogo{
            font-size: 1.2em;
            font-weight: 700;
        }
    </style>
    <script>
        function script() {
            document.getElementById('time').value=`<%= userInput["time"] %>`;
            code_html = document.getElementsByTagName("pre");
            for (i = 0; i < code_html.length; i++) {
                var mydiv = document.createElement("div");
                mydiv.className = "markdownSlider";
                new_html = "<pre>" + code_html[i].innerHTML + "</pre>";
                mydiv.innerHTML = new_html;
                if (!['p', 'li'].includes(code_html[i].parentNode.tagName.toLowerCase())) {
                    code_html[i].parentNode.replaceChild(mydiv, code_html[i]);
                }

            }
        }
    </script>
</head>

<body onload="script();">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <span id="textLogo">FIRSTCONTRIB</span>
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                    <a class="navbar-item" href="http://krishnanunnir.me/firstcontrib/">
                        How it was made
                    </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet"
                                data-social-target="https://bulma.io" target="_blank"
                                href="https://twitter.com/intent/tweet?text=FirstContrib: Find open source issues that matters to you.&amp;hashtags=opensource&amp;url=https://firstcontrib.herokuapp.com&amp;">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>
                                    Tweet
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary" href="https://github.com/krishnanunnir/firstcontrib">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Edit on Github</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button discord" href="https://discord.gg/3Ff5z35u">
                                <span class="icon">
                                    <i class="fab fa-discord"></i>
                                </span>
                                <span>Join our Discord</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-centered"">

        <div class="column is-three-fifths textbanner">
            Finding issues to contribute to in open-source is hard. Please use this tool to find issues that are personalised for you based on your starred repos. For beginners, check the 'Beginner Issues Only' to find issues intended for beginners. If you like this project, please feel free to contribute.
            <br><br>
            <strong>Note: If you are unable to find issues, please consider increasing the timeperiod.</strong>
        </div>
    </div>
    <form action="/instance" method="get">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="control has-icons-left">
                    <input type="text" name="username" class="input" id="userText"
                        placeholder="Enter your github username" value="<%= userInput["username"] %>">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="columns is-centered is-vcentered">
            <div class="column is-one-fifth">
                <div class="control">
                    <div class="select">
                        <select name="time" id="time">
                            <option value="1">Past day</option>
                            <option value="7">Past Week</option>
                            <option value="30">Past Month</option>
                            <option value="365">Past Year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth">                
                <label class="checkbox">
                    <input type="checkbox" name="beginnerfriendly" value="1" <% if(userInput["beginnerfriendly"]=="1") {%> checked="checked" <% }%>>
                    Beginner Issues Only
                </label>
            </div>
            <div class="column is-one-fifth">
                <button type="submit" class="button is-info is-pulled-right">Search for Issues!</button>
            </div>

        </div>
    </form>

    </div>
    <% if(error){ %>
    <div class="columns is-centered">
        <div class="column is-three-fifths">
            <article class="message is-danger">
                <div class="message-body">
                    <%= error %>
                </div>
            </article>
        </div>
    </div>
    <% } %>
    <% issues.forEach(function(issue) { %>
    <div class="columns is-centered">
        <div class="column is-three-fifths box issue">
            <div class="issue-title">
                <h5><a href="<%= issue.url %>"><%= issue.repository %>: <%= issue.title %></a></h5>
            </div>
            <div class="issue-desc">
                <%- issue.description %>
            </div>
        </div>
    </div>
    <% }); %>
</body>

</html>