<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Search</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <style>

        p{
            display: block;
        }

        #all-issue{
            margin-top: 2rem;
            line-height: 1rem;
        }
        .search{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            margin-bottom: 40px;
        }
        #timesearch{
            padding: 0.6rem;
            appearance: none;
            border-radius: 0.3rem;
            border-color: blueviolet;
            color: blueviolet;
            width:150px;
        }

        #submitbutton{
            padding: 0.6rem;
            border-radius: 0.3rem;
            color:white;
            background-color: blueviolet;
        }
        #inputfield{
            border-radius: 0.3rem;
            border-color: blueviolet;
            color: blueviolet;
        }
        .textbanner{
            color: blueviolet;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
        .github-issue{ 
            text-align:justify;
            border-style: solid;

            border-radius: 1em;
            margin-top: 1.5rem;
        }
        .issue-title a{
            margin: 1rem;
            text-decoration: none;
            color: blueviolet;
        }
        .issue-desc{
            margin: 1rem;
        }
        .markdownSlider{
            overflow-x: auto;
            display: block;
            background-color: #e8e8e6;
            border-radius: 0.3rem;
        }


        .textlabelsearch{
            display:inline;
            font-size: 0.8rem;
            color: rgb(182, 49, 26);
        }
        .error {
            padding: 20px;
            background-color: blueviolet; /* Red */
            color: white;
            margin-bottom: 15px;
            border-radius: 0.3em;
        }
    </style>
    <script>
        function script(){
        var images = document.getElementsByTagName("img");
            var i;
            for(i = 0; i < images.length; i++) {
                images[i].className += "pure-img";
            }
            code_html = document.getElementsByTagName("code");
            for(i = 0; i < code_html.length; i++) {
                var mydiv = document.createElement("div");
                mydiv.className = "markdownSlider";
                new_html = "<code>" + code_html[i].innerHTML + "</code>";
                mydiv.innerHTML = new_html;
                if(!['p','li'].includes(code_html[i].parentNode.tagName.toLowerCase())){
                    code_html[i].parentNode.replaceChild(mydiv, code_html[i]);
                }
                
            }
        }
    </script>
</head>
<body onload="script();">
    <div class="pure-g search textbanner">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">Search for issues to contribute to. Use your github username. </div>
        <div class="pure-u-1-4"></div>
    </div>
        </div>
    <div class="pure-g search">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <form action="/" method="POST" class="pure-form">
                <input type="text" name="username" id="inputfield" placeholder="Enter your github username">
                <select name="time" id="inputfield">
                    <option value="1" selected>Past day</option>
                    <option value="7">Past Week</option>
                    <option value="30">Past Month</option>
                    <option value="365">Past Year</option>
                </select>
                <button type="submit" id="submitbutton">go!</button>
            </form>
            <br/>
        </div>
        <div class="pure-u-1-4"></div>
    </div>
    <% if(error){ %>
        <div id="error">
            <div class="pure-g">
                <div class="pure-u-1-4"></div>
                <div class="pure-u-1-2 error">
                    <%= error %>
                </div>
                <div class="pure-u-1-4"></div>
            </div>        
        </div>
    <% } %>
    <div id="all-issue">
        <% repoIssues.forEach(function(repo) { %>
            <% repo["issues"].forEach(function(issue) { %>
                <div class="pure-g">
                    <div class="pure-u-1-4"></div>
                    <div class="pure-u-1-2 github-issue">
                        <div class="issue-title">
                        <h5><a href="<%= issue.url %>"><%= repo["repo"] %>: <%= issue.title %></a></h5>
                        </div>
                        <div class="issue-desc">
                            <%- issue.description %>
                        </div>
                    </div>
                    <div class="pure-u-1-4"></div>
                </div>
            <% }); %>
        <% }); %>
    </div>
</body>
</html>